@model List<BookStore.Domain.Domain.Enrollment>

@{
    ViewData["Title"] = "Enrollments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mb-5">
        @for (int i = 0; i < Model.Count; i++)
        {
            var item = Model[i];
            <div class="col-3">
                <div class="card" style="width: 18rem; height: 50rem;">
                    <img src="@item.Course?.CourseImage" class="card-img-top" alt="Course image">
                    <div class="card-body">
                        <h5 class="card-title">
                            <b>@item.Course?.Title</b>
                        </h5>
                        <hr />
                        <p class="card-text">@item.Course.Description</p>
                        <p>@item.CourseId</p>
                        <hr />
                        </div>
                    <div class="card-body">

                   
                        
                            <p class="card-text">Duration: @item.Course?.Duration min</p>
                        <hr />
                            <p class="card-text">Level: @item.Course?.Level</p>
                        <hr />
                        <p class="card-text">Course Difficulty: @item.CourseDifficulty</p>
                       
                    </div>
                 
                   
                </div> 
            </div>
        }
    </div>
</div>
